<div class="container mt-5 text-center w-75">
  <ul class="list-group">
    <li class="list-group-item border-0">
      <div class="dropdown w-75">
        <button class="btn btn-light btn-lg dropdown-toggle w-100 border border-dark text-end d-flex justify-content-between align-items-center" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <p class="text-start m-0">
            {{#if keyCategory }}
              {{ this.keyCategory }}
            {{else}}
              類別
            {{/if}}
          </p>
        </button>
        <ul class="dropdown-menu w-100 text-center">
          {{#each category}}
          <li><a class="dropdown-item" href="/records/category/{{ this.name }}">{{ this.name }}</a></li>
          {{/each}}
        </ul>
      </div>
    </li>
    {{#if records}}
    <li class="list-group-item border-start-0 border-end-0">
      <div class="row w-75">
        <div class="col-auto me-auto my-auto text-end">
          <h4 class="m-0">
            總金額：
          </h4>
        </div>
        <div class="col-auto ms-5 p-0">
            <p class="fs-1 text-danger m-0">{{ totalAmount }}</p>
        </div>
      </div>
    </li>
    {{#each records}}
      <li class="list-group-item border-start-0 border-end-0">
        <div class="row">
          <div class="col-auto me-0 mt-auto">
            <h4>
              {{{ this.categoryIcon }}}
            </h4>
          </div>
          <div class="col-auto me-auto mt-auto">
            <div class="row">
              <span>{{ this.name }}</span>
            </div>
            <div class="row">
              <span>{{ this.date }}</span>
            </div>
          </div>
          <div class="col-auto me-0 mt-auto w-25 text-end">
            <h3>{{ this.amount }}</h3>
          </div>
          <div class="col-auto my-auto w-25 text-end">
            <a class="btn btn-success" href="/">編輯</a>
            <a class="btn btn-danger" href="/">刪除</a>
          </div>
        </div>
      </li>
    {{/each}}
    {{else}}
    <h1 class="text-danger mt-5">找不到支出紀錄</h1>
    {{/if}}
    
  </ul>
</div>